.about {
    width: 100%;
    height: 100%;
}

.about > .cards {
  width: 65%;
  height: 70%;
  padding-top: 10%;
  margin-left: 17.5%;
  margin-right: 17.5%;
}

.about > .cards > .card {
  float: left;
  width: 21.3%;
  height: 50%;
  background: #9002cf;
  transition: .3s ease;
  padding: 5%;
}

.card:hover {
  transform: scale(1.02);
}


.card-space {
  margin-right: 3%;
}

.card > h1 {
  color: white;
  font-size: 34px;
  margin-top:40px;
  font-weight: 900;
}

.card > p {
  color: #c695db;
  font-weight: 600;
  font-size: 20px;
}

.learn-more {
  color:  white;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 50px;
  transition: .3s ease;
}


.learn-more:hover{
  border-bottom: 1px solid white;
  color: #470166;
}
