.lp {
    width: 100%;
    height: 610px; 
    background-image: linear-gradient(180deg, #f58bfc 0%, #fabeee 100%);
}


.lp > .container {
    width: 80%;
    padding-top: 65px; 
    margin-left: 10%;
    margin-right: 10%; 
    height: 400px; 
}

.lp > .container > .row {
    flex-wrap: wrap; 
    width: 100%; 
    height: 100%; 
}

.lp > .container > .row > .left {
    width: 30%;
    height: 90%; 
    float: left;
    padding-top: 14%;
    padding-left: 10%;
}

.left > button {
    height: 80px;
    width: 267px;
    border-radius: 11px;
    border: none;
    margin-top: 80px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background: #fabeee;
    box-shadow:  20px 20px 60px #dca7d1, 
    -20px -20px 60px #ffd5ff;
}

.left > button:hover {
    background: linear-gradient(145deg, #e1abd6, #ffcbff);
    box-shadow:  20px 20px 60px #daa5cf, 
                -20px -20px 60px #ffd7ff;
}

.lp > .container > .row > .left > .landing-page-title {
    font-family: "discord-font";
    font-size: 50px; 
    color: white; 
    height: 30%;
}

.lp > .container > .row > .left > p{
    font-size: 22px !important; 
    font-weight: 800 !important; 
    color: white; 
    padding-right: 20px; 
    line-height: 33px !important; 
}

.lp > .container > .row > .right {
    width: 60%;
    height: 100%;
    float: left; 
}

.lp > .container > .row > .right > .main-img {
    width: 700px;
}