.login {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #f58bfc 0%, #fabeee 100%);
  padding-top: 9%;
}

.login > form {
    width: 30%;
    background: red;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20%;
    height: 60%;
}
