.mdl-layout__header {
  background-color: transparent !important;
  color: black !important;
  box-shadow: none !important;
}


.mdl-layout__content {
  margin-top: -64px;
}

.mdl-layout__drawer-button{
  display: none !important;
}

.mdl-layout__header-row{
  background: black;
}

.logo-name {
  color: white;
  font-family: "discord-font";
}

.mdl-navigation__link {
  color: white !important;
  font-weight: bold !important;
}

.mdl-dialog__content > form > input {
  width: 220px;
  height: 30px;
  padding-left: 10px;
}

header {
  z-index: 100;
}

.mdl-button--raised.mdl-button--colored {
    background: none !important;
    border-radius: 0 !important;
}
