html {
  width: 100%;
  height: 100%;
  font-family: 'discord-font' !important;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.root {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'discord-font';
  src: url('./fonts/Uni\ Sans\ Heavy.otf');
}

@font-face {
  font-family: 'whitney';
  src: url('./fonts/whitneymedium.woff');
}
